.sss-header {
    font-family: Arial;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.sss-table {
    text-align: center;
    margin: 0 auto;
}

.sss-cell {
    height: 40px;
    width: 40px;
}

.sss-thick-top {
    border-top: 4px black solid !important;
}

.sss-thick-bottom {
    border-bottom: 4px black solid !important;
}

.sss-thick-left {
    border-left: 4px black solid !important;
}

.sss-thick-right {
    border-right: 4px black solid !important;
}

.sss-textbox {
    width: 100%;
    height: 100%;

    border: 1px black solid;

    font-family: Arial;
    font-size: 24px;
    text-align: center;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sss-reserved {
    background-color: lightgray;
}

.sss-label {
    font-family: Arial;
    text-align: center;
    margin: 25px auto auto auto;
    display: block;
}

.sss-button {
    margin: 5px auto auto auto;
    display: block;

    font-size: 28px;
    text-align: center;
}

.sss-green {
    color: green;
}

.sss-red {
    color: red;
}
